# Build
build/
cmake-build-*/
*.o
*.a
*.so

# IDE
.vscode/
.idea/
*.suo

# Tests
tests/build/

# Logs
*.log

# Git
.git/
.gitignore
.gitmodules

# CI
.github/

# Docs
docs/
*.md

# k8s
k8s/

# Cursor
.cursor/